@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: "lato", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/logobanner.jpg");
    background-repeat: space;
    background-color: rgba(0, 0, 51);
    color: white;
    font-size: 16px;
}

header .header {
    margin-top: 1.25em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 18vh;
}

.left-nav ul {
    margin-left: 6.25em;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 1.25em;
}

.right-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1.25em;
    margin-right: 1.25em;
}

.jumbotron {
    padding: 1.25em;
    margin-left: 3.75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.125em;
}

h1 {
    text-align: center;
}
h6 {
    text-align: center;
    margin-bottom: 1.25em;
}

#Content {
    margin-top: 1.25em;
    text-align: justify;
}

#Content ul {
    list-style: none;
}

#Content img {
    width: 0.9375em;
}

#featcontent {
    margin: 1.5625em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.125em;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner img {
    width: 350px;
    border-radius: 15px;
}

#blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    background-image: linear-gradient(rgba(18, 175, 167, 0.8), rgba(52, 1, 238, 0.5)), url("../img/50-Mejores-páginas-web-y-aplicaciones-para-encontrar-trabajo.webp");
    text-align: center;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
    height: 100vh;
}

#catalogue {
    background-image: linear-gradient(rgba(252, 252, 252, 0.966), rgba(237, 232, 255, 0.5)), url("../img/Trabajos-digitales.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    background-position: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.25em;
    height: 100vh;
}

figure {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 18.75em;
    height: 20em;
    border-radius: 10px;
    border-color: rgb(4, 129, 129);
    border-style: dashed;
    color: rgba(0, 0, 0, 0.349);
}

figure img {
    width: 100%;
    height: 11.875em;
    border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;
}

#descript {
    margin: 0.625rem;
    justify-content: space-between;
    align-content: center;
}

section {
    background-image: linear-gradient(rgba(252, 252, 252, 0.966), rgba(237, 232, 255, 0.5)), url("../img/Inteligencia\ Artificial\ IA.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100vh;
    gap: 1.25em;
}

section .signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: rgba(255, 255, 255, 0.61);
    width: 25em;
    border-radius: 8px;
    padding: 1.25em 2.5em;
    box-shadow: 0 10px 25px rgba(12, 13, 14, 0.445);
}

.title {
    font-size: 3.125em;
    margin-bottom: 3.125rem;
    color: black;
}

.inputContainer {
    position: relative;
    height: 2.8125rem;
    width: 90%;
    margin-bottom: 1.0625rem;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.4375rem;
    font-size: 1rem;
    padding: 0 1.25rem;
    outline: none;
    background: none;
    z-index: 0;
}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    padding: 0 0.25rem;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: #000000;
    font-size: 1rem;
    transition: 0.5s;
    z-index: 0;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 0.9375em 1.875em;
    border: none;
    background-color: rgb(23, 0, 128, 0.61);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.875rem;
}

.submitBtn:hover {
    background-color: #677dc5;
    transform: translateY(-0.125rem);
}

.input:focus + .label {
    top: -0.4375rem;
    left: 0.1875rem;
    z-index: 10;
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.input:focus {
    border: 2px solid rgb(0, 0, 0);
}

.input:not(:placeholder-shown)+ .label {
    top: -0.4375rem;
    left: 0.1875rem;
    z-index: 10;
    font-size: 0.875rem;
    font-weight: 600;
}

footer {
    padding: 25px;
    background-image: linear-gradient(rgba(0, 0, 51, 0.8), rgba(52, 1, 238, 0.5)), url("../img/footerbanner.gif");
    background-color: rgba(0, 0, 51);
    /*     display: flex;
    flex-direction: row-reverse; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

footer #slogan {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

footer #slogan img {
    height: 150px;
    display: flex;
}

#social {
    margin-top: 3.75em;
}

#social #socialnet {
    margin: 1.875rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 16.25rem;
    gap: 10px;
}

#social #contactsoc {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#paginas {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#paginas ul li {
    margin-top: 30px;
    list-style: none;
}

#servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#servicios ul li {
    margin-top: 30px;
    list-style: none;
}

footer ul img {
    width: 2.1875em;
}